@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
     outline: none;
     border: 1px solid black;
}

.width-screen {
     width: 1200px;
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
     .width-screen {
          width: 1000px;
     }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     .width-screen {
          width: 750px;
     }
}

@media only screen and (min-width: 451px) and (max-width: 767px) {
     .width-screen {
          width: 420px;
     }
}

@media only screen and (max-width: 450px) {
     .width-screen {
          width: 350px;
     }
}